html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.LoginInterface {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loginform {
  border: 2px solid rgb(42, 165, 108);
  border-radius: 20px;
  background-color: white;
  color: azure;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameInterface {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gameboard {
  border: 2px solid rgb(42, 165, 108);
  border-radius: 20px;
  background-color: white;
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.gamescore {
  display: flex;
  align-items: top;
  justify-content: center;
  color: black;
  padding-bottom: 100px;
  padding-top: 20px;
  gap: 20px;
}

#gamebuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

.gamebutton {
  border: none;
  background: none;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
