@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap");
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Pixelify Sans", cursive;
}

.LoginInterface {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loginform {
  border: 2px solid rgb(42, 165, 108);
  border-radius: 20px;
  background-color: white;
  height: 400px;
  width: 400px;
  background-color: rgb(244, 244, 244);
}

.button_start button {
  border-radius: 13px;
}

.result {
  padding: 6px;
}

.user_user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-family: "Pixelify Sans", cursive;
  border: none;
  background: none;
}

.gameInterface {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.gameboard {
  border: 2px solid rgb(42, 165, 108);
  border-radius: 20px;
  background-color: white;
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.gamescore {
  display: flex;
  align-items: top;
  justify-content: center;
  color: black;
  padding-bottom: 60px;
  padding-top: 20px;
  gap: 20px;
}

#gamebuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

.gamebutton {
  border: none;
  background: none;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.gamescore {
  font-size: 20px;
}

.button_start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

#userChoiceDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rock-image {
  height: 50px;
}
#paper-image {
  height: 50px;
}
#scissors-image {
  height: 50px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
